<phpunit colors="true">
  <testsuites>
    <testsuite name="UnitTest">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
       <directory>./vendor</directory>
    </blacklist>
    <whitelist>
         <directory>html</directory>
         <directory>html/database</directory>
     </whitelist>
  </filter>
  <logging>
    <log type="junit" target="/var/cloudbees-jenkins-distribution/results/php-demo/phpunit/phpunit.xml" logIncompleteSkipped="false"/>
    <log type="coverage-clover" target="/var/cloudbees-jenkins-distribution/results/php-demo/coverage/clover.xml"/>
    <log type="coverage-html" target="/var/cloudbees-jenkins-distribution/results/php-demo/coverage/" charset="UTF-8"
      yui="true" highlight="false"
      lowUpperBound="35" highLowerBound="70"/>
  </logging>
</phpunit>
